<div class="container">

  <div class="jumbotron text-center">
    <h1>'Goals, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <section ng-controller="GoalsCtrl" ng-init="leaderboard()">
    <div class="col-sm-6 col-md-4" ng-repeat="goal in goals | orderBy:'created_at'">
      <div class="thumbnail">
        <img class="profile_img" src="https://graph.facebook.com/{{goal.user_id}}/picture?width=320&amp;height=200">
        <div class="caption">
          <h3><a ng-href="#goals/{{goal.user_id}}">{{goal.headline}}</a></h3>
          <p>{{goal.body}}</p>
          <p><a ng-href="#goals/{{goal.user_id}}">{{goal.user_id}}</a></p>
        </div>
      </div>
    </div>
  </section>
  
  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
