<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li class="active"><a ng-href="/">Home</a></li>
				<li><a ng-href="#leaderboard">Leaderboard</a></li>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
				<li data-ng-show="!logged">
					<a href="#" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</a>
				</li>
        <li class="dropdown" data-ng-show="logged">	
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img class="profile_img" src="https://graph.facebook.com/{{user.id}}/picture?width=10&amp;height=10">
	        	Welcome, {{user.first_name}} {{user.last_name}}
						<span class="caret"></span></a>
          	<ul class="dropdown-menu" role="menu">
	            <li><a href="#">My Goal</a></li>
	            <li><a href="#">Edit Goal</a></li>
	            <li class="divider"></li>
	            <li><a href="#" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>